In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
import plotly.express as px
import numpy as np
import warnings
warnings = 'ignore'
%matplotlib inline

sns.set_style('darkgrid')
plt.rcParams['font.size'] = 14
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['figure.facecolor'] = '#00000000'
import warnings
warnings.filterwarnings("ignore")
c_green = '#6DF10C'
c_yellow = '#F5DD0D'
c_cyan = '#0FFDEF'
c_blue = '#0141DE'
c_blue_light =  '#2775FD'
c_purple = '#FF0DE5'
c_green_dark = '#1BB200'
e = np.e

<img src = 'https://www.googleapis.com/download/storage/v1/b/kaggle-user-content/o/inbox%2F11258622%2F56e1ffbe107dcf0df92e223466d0dceb%2Fstocks-market-scaled.jpg?generation=1687862919849498&alt=media' width = '1200'>

## Overview
This is an Indian stock Market data which can be used for educational, business and personal usage. This data conains stock prices of NIFTY-50 index which contains top 50 companies of India. The dataset is taken from Yahoo Finance (yfinance) python package. Mostly dataset contains data from 3 Jan 2000 to June 2023.

## Dataset Columns

The date for every symbol is saved in CSV format with common fields:

Date - specifies date of that trade

Open - opening price

High - maximum price during the day

Low - minimum price during the day

Close - close price adjusted for splits

Adj Close - adjusted close price adjusted for both dividends and splits.

Volume - the number of shares that changed hands during a given day

In [2]:
df = pd.read_csv('csv\\CIPLA.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP
0,03-01-2000,112.800003,116.587997,110.403999,116.587997,100.327545,263250.0,114.5266643
1,04-01-2000,122.959999,122.959999,114.400002,117.220001,100.871414,377687.0,118.193334
2,05-01-2000,117.919998,117.919998,109.199997,114.804001,98.792366,422487.0,113.9746653
3,06-01-2000,114.720001,114.800003,107.919998,108.468002,93.340034,413537.0,110.396001
4,07-01-2000,109.599998,111.192001,99.792000,99.804001,85.884430,831700.0,103.5960007
...,...,...,...,...,...,...,...,...
5868,19-06-2023,1006.250000,1017.549988,999.200012,1011.250000,1011.250000,1015057.0,1009.333333
5869,20-06-2023,1013.849976,1018.799988,1002.599976,1011.150024,1011.150024,1413571.0,1010.849996
5870,21-06-2023,1010.200012,1013.450012,1002.250000,1008.900024,1008.900024,1140198.0,1008.200012
5871,22-06-2023,1003.099976,1007.000000,990.099976,998.299988,998.299988,2852669.0,998.4666547
5872,23-06-2023,999.950012,999.950012,985.650024,989.400024,989.400024,1776614.0,991.6666867

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5873 entries, 0 to 5872
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5873 non-null   object
 1   Open       5865 non-null   float64
 2   High       5865 non-null   float64
 3   Low        5865 non-null   float64
 4   Close      5865 non-null   float64
 5   Adj Close  5865 non-null   float64
 6   Volume     5865 non-null   float64
 7   VWAP       5873 non-null   object
dtypes: float64(6), object(2)
memory usage: 367.2+ KB

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'VWAP'], dtype='object')

In [5]:
def split_date(df):
    df['Date'] = pd.to_datetime(df['Date'] , format='mixed')
    df['Year'] = df.Date.dt.year
    df['Month'] = df.Date.dt.month
    df['Day'] = df.Date.dt.day
    df['WeekOfYear'] = df.Date.dt.isocalendar().week

In [6]:
split_date(df)

In [7]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,2000-03-01,112.800003,116.587997,110.403999,116.587997,100.327545,263250.0,114.5266643,2000,3,1,9
1,2000-04-01,122.959999,122.959999,114.400002,117.220001,100.871414,377687.0,118.193334,2000,4,1,13
2,2000-05-01,117.919998,117.919998,109.199997,114.804001,98.792366,422487.0,113.9746653,2000,5,1,18
3,2000-06-01,114.720001,114.800003,107.919998,108.468002,93.340034,413537.0,110.396001,2000,6,1,22
4,2000-07-01,109.599998,111.192001,99.792000,99.804001,85.884430,831700.0,103.5960007,2000,7,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...
5868,2023-06-19,1006.250000,1017.549988,999.200012,1011.250000,1011.250000,1015057.0,1009.333333,2023,6,19,25
5869,2023-06-20,1013.849976,1018.799988,1002.599976,1011.150024,1011.150024,1413571.0,1010.849996,2023,6,20,25
5870,2023-06-21,1010.200012,1013.450012,1002.250000,1008.900024,1008.900024,1140198.0,1008.200012,2023,6,21,25
5871,2023-06-22,1003.099976,1007.000000,990.099976,998.299988,998.299988,2852669.0,998.4666547,2023,6,22,25
5872,2023-06-23,999.950012,999.950012,985.650024,989.400024,989.400024,1776614.0,991.6666867,2023,6,23,25

In [8]:
df.dropna(inplace=True)

In [9]:
df.isna().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
VWAP          0
Year          0
Month         0
Day           0
WeekOfYear    0
dtype: int64

In [10]:
numeric_cols = df.drop(columns=['Date' , 'Close']).columns.to_list()
input_cols = df.drop(columns=['Date' , 'Close']).columns.to_list()
target_col = 'Close'

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,2000-03-01,112.800003,116.587997,110.403999,116.587997,100.327545,263250.0,114.5266643,2000,3,1,9
1,2000-04-01,122.959999,122.959999,114.400002,117.220001,100.871414,377687.0,118.193334,2000,4,1,13
2,2000-05-01,117.919998,117.919998,109.199997,114.804001,98.792366,422487.0,113.9746653,2000,5,1,18
3,2000-06-01,114.720001,114.800003,107.919998,108.468002,93.340034,413537.0,110.396001,2000,6,1,22
4,2000-07-01,109.599998,111.192001,99.792000,99.804001,85.884430,831700.0,103.5960007,2000,7,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...
5868,2023-06-19,1006.250000,1017.549988,999.200012,1011.250000,1011.250000,1015057.0,1009.333333,2023,6,19,25
5869,2023-06-20,1013.849976,1018.799988,1002.599976,1011.150024,1011.150024,1413571.0,1010.849996,2023,6,20,25
5870,2023-06-21,1010.200012,1013.450012,1002.250000,1008.900024,1008.900024,1140198.0,1008.200012,2023,6,21,25
5871,2023-06-22,1003.099976,1007.000000,990.099976,998.299988,998.299988,2852669.0,998.4666547,2023,6,22,25
5872,2023-06-23,999.950012,999.950012,985.650024,989.400024,989.400024,1776614.0,991.6666867,2023,6,23,25

In [13]:
df[numeric_cols]

,Open,High,Low,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,112.800003,116.587997,110.403999,100.327545,263250.0,114.5266643,2000,3,1,9
1,122.959999,122.959999,114.400002,100.871414,377687.0,118.193334,2000,4,1,13
2,117.919998,117.919998,109.199997,98.792366,422487.0,113.9746653,2000,5,1,18
3,114.720001,114.800003,107.919998,93.340034,413537.0,110.396001,2000,6,1,22
4,109.599998,111.192001,99.792000,85.884430,831700.0,103.5960007,2000,7,1,26
...,...,...,...,...,...,...,...,...,...,...
5868,1006.250000,1017.549988,999.200012,1011.250000,1015057.0,1009.333333,2023,6,19,25
5869,1013.849976,1018.799988,1002.599976,1011.150024,1413571.0,1010.849996,2023,6,20,25
5870,1010.200012,1013.450012,1002.250000,1008.900024,1140198.0,1008.200012,2023,6,21,25
5871,1003.099976,1007.000000,990.099976,998.299988,2852669.0,998.4666547,2023,6,22,25
5872,999.950012,999.950012,985.650024,989.400024,1776614.0,991.6666867,2023,6,23,25

In [14]:
scaler = MinMaxScaler().fit(df[numeric_cols])

In [15]:
df[numeric_cols] = scaler.transform(df[numeric_cols])

In [16]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,2000-03-01,0.092471,0.094763,0.091197,116.587997,0.082274,0.004627,0.093905,0.0,0.181818,0.000000,0.153846
1,2000-04-01,0.101163,0.100161,0.094646,117.220001,0.082739,0.006638,0.097041,0.0,0.272727,0.000000,0.230769
2,2000-05-01,0.096851,0.095892,0.090159,114.804001,0.080961,0.007426,0.093433,0.0,0.363636,0.000000,0.326923
3,2000-06-01,0.094114,0.093249,0.089054,108.468002,0.076298,0.007268,0.090373,0.0,0.454545,0.000000,0.403846
4,2000-07-01,0.089733,0.090192,0.082040,99.804001,0.069922,0.014618,0.084558,0.0,0.545455,0.000000,0.480769
...,...,...,...,...,...,...,...,...,...,...,...,...
5868,2023-06-19,0.856866,0.857946,0.858139,1011.250000,0.861324,0.017841,0.859112,1.0,0.454545,0.600000,0.461538
5869,2023-06-20,0.863368,0.859004,0.861073,1011.150024,0.861239,0.024845,0.860409,1.0,0.454545,0.633333,0.461538
5870,2023-06-21,0.860245,0.854473,0.860771,1008.900024,0.859314,0.020040,0.858143,1.0,0.454545,0.666667,0.461538
5871,2023-06-22,0.854171,0.849009,0.850287,998.299988,0.850249,0.050139,0.849819,1.0,0.454545,0.700000,0.461538
5872,2023-06-23,0.851476,0.843037,0.846447,989.400024,0.842637,0.031226,0.844004,1.0,0.454545,0.733333,0.461538

## Training, Validation and Test Sets

While building real-world machine learning models, it is quite common to split the dataset into three parts:

1. **Training set** - used to train the model, i.e., compute the loss and adjust the model's weights using an optimization technique. 


2. **Validation set** - used to evaluate the model during training, tune model hyperparameters (optimization technique, regularization etc.), and pick the best version of the model. Picking a good validation set is essential for training models that generalize well. [Learn more here.](https://www.fast.ai/2017/11/13/validation-sets/)


3. **Test set** - used to compare different models or approaches and report the model's final accuracy. For many datasets, test sets are provided separately. The test set should reflect the kind of data the model will encounter in the real-world, as closely as feasible.


<img src="https://i.imgur.com/j8eITrK.png" width="480">


As a general rule of thumb you can use around 60% of the data for the training set, 20% for the validation set and 20% for the test set. If a separate test set is already provided, you can use a 75%-25% training-validation split.


When rows in the dataset have no inherent order, it's common practice to pick random subsets of rows for creating test and validation sets. This can be done using the `train_test_split` utility from `scikit-learn`. Learn more about it here: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [17]:
year = pd.to_datetime(df.Date).dt.year

In [18]:
train_df = df[year < 2021]
val_df = df[year == 2022]
test_df = df[year > 2022]

In [19]:
X_train = train_df[numeric_cols]
X_val = val_df[numeric_cols]
X_test = test_df[numeric_cols]

In [20]:
X_train

,Open,High,Low,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,0.092471,0.094763,0.091197,0.082274,0.004627,0.093905,0.000000,0.181818,0.000000,0.153846
1,0.101163,0.100161,0.094646,0.082739,0.006638,0.097041,0.000000,0.272727,0.000000,0.230769
2,0.096851,0.095892,0.090159,0.080961,0.007426,0.093433,0.000000,0.363636,0.000000,0.326923
3,0.094114,0.093249,0.089054,0.076298,0.007268,0.090373,0.000000,0.454545,0.000000,0.403846
4,0.089733,0.090192,0.082040,0.069922,0.014618,0.084558,0.000000,0.545455,0.000000,0.480769
...,...,...,...,...,...,...,...,...,...,...
5254,0.705048,0.703227,0.699452,0.701714,0.128211,0.703871,0.869565,1.000000,0.766667,0.980769
5255,0.712577,0.706700,0.707995,0.699133,0.084558,0.706992,0.869565,1.000000,0.900000,1.000000
5256,0.706203,0.703947,0.701350,0.697270,0.058200,0.703244,0.869565,1.000000,0.933333,1.000000
5257,0.706074,0.699077,0.700099,0.693758,0.047726,0.700009,0.869565,1.000000,0.966667,1.000000
5258,0.700941,0.701914,0.700401,0.690499,0.085119,0.699966,0.869565,1.000000,1.000000,1.000000

In [21]:
train_targets = train_df[target_col]
val_targets = val_df[target_col]
test_targets = test_df[target_col]

In [22]:
train_targets

0       116.587997
1       117.220001
2       114.804001
3       108.468002
4        99.804001
           ...
5254    833.200012
5255    830.150024
5256    827.950012
5257    823.799988
5258    819.950012
Name: Close, Length: 5251, dtype: float64

In [23]:
train_df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,2000-03-01,0.092471,0.094763,0.091197,116.587997,0.082274,0.004627,0.093905,0.000000,0.181818,0.000000,0.153846
1,2000-04-01,0.101163,0.100161,0.094646,117.220001,0.082739,0.006638,0.097041,0.000000,0.272727,0.000000,0.230769
2,2000-05-01,0.096851,0.095892,0.090159,114.804001,0.080961,0.007426,0.093433,0.000000,0.363636,0.000000,0.326923
3,2000-06-01,0.094114,0.093249,0.089054,108.468002,0.076298,0.007268,0.090373,0.000000,0.454545,0.000000,0.403846
4,2000-07-01,0.089733,0.090192,0.082040,99.804001,0.069922,0.014618,0.084558,0.000000,0.545455,0.000000,0.480769
...,...,...,...,...,...,...,...,...,...,...,...,...
5254,2020-12-24,0.705048,0.703227,0.699452,833.200012,0.701714,0.128211,0.703871,0.869565,1.000000,0.766667,0.980769
5255,2020-12-28,0.712577,0.706700,0.707995,830.150024,0.699133,0.084558,0.706992,0.869565,1.000000,0.900000,1.000000
5256,2020-12-29,0.706203,0.703947,0.701350,827.950012,0.697270,0.058200,0.703244,0.869565,1.000000,0.933333,1.000000
5257,2020-12-30,0.706074,0.699077,0.700099,823.799988,0.693758,0.047726,0.700009,0.869565,1.000000,0.966667,1.000000
5258,2020-12-31,0.700941,0.701914,0.700401,819.950012,0.690499,0.085119,0.699966,0.869565,1.000000,1.000000,1.000000

In [24]:
val_df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
5507,2022-03-01,0.806217,0.798947,0.794802,930.500000,0.788417,0.035383,0.795317,0.956522,0.181818,0.000000,0.153846
5508,2022-04-01,0.798004,0.790095,0.790013,924.250000,0.783097,0.021762,0.788974,0.956522,0.272727,0.000000,0.230769
5509,2022-05-01,0.788635,0.785309,0.788935,928.549988,0.786757,0.024747,0.788233,0.956522,0.363636,0.000000,0.307692
5510,2022-06-01,0.790389,0.788824,0.789194,922.000000,0.781182,0.024332,0.787634,0.956522,0.454545,0.000000,0.403846
5511,2022-07-01,0.788550,0.780946,0.784059,914.750000,0.775012,0.027175,0.781221,0.956522,0.545455,0.000000,0.480769
...,...,...,...,...,...,...,...,...,...,...,...,...
5750,2022-12-26,0.960174,0.957434,0.939942,1096.500000,0.934233,0.022489,0.943916,0.956522,1.000000,0.833333,0.980769
5751,2022-12-27,0.931983,0.931938,0.936577,1095.849976,0.933677,0.021255,0.934038,0.956522,1.000000,0.866667,0.980769
5752,2022-12-28,0.931941,0.930455,0.931399,1085.800049,0.925082,0.015343,0.928964,0.956522,1.000000,0.900000,0.980769
5753,2022-12-29,0.925096,0.926093,0.919233,1087.550049,0.926578,0.028578,0.923976,0.956522,1.000000,0.933333,0.980769
5754,2022-12-30,0.932753,0.923551,0.922253,1075.949951,0.916658,0.020840,0.920812,0.956522,1.000000,0.966667,0.980769

In [25]:
test_df

,Date,Open,High,Low,Close,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
5755,2023-02-01,0.920177,0.912540,0.913926,1070.949951,0.912381,0.015732,0.912930,1.0,0.090909,0.000000,0.076923
5756,2023-03-01,0.911450,0.911650,0.916126,1075.900024,0.916615,0.016737,0.914769,1.0,0.181818,0.000000,0.153846
5757,2023-04-01,0.919065,0.912497,0.914012,1066.900024,0.908918,0.024069,0.911790,1.0,0.272727,0.000000,0.230769
5758,2023-05-01,0.915685,0.922027,0.916989,1088.349976,0.927262,0.028223,0.922095,1.0,0.363636,0.000000,0.326923
5759,2023-06-01,0.927107,0.921942,0.922253,1076.349976,0.917000,0.014496,0.920384,1.0,0.454545,0.000000,0.403846
...,...,...,...,...,...,...,...,...,...,...,...,...
5868,2023-06-19,0.856866,0.857946,0.858139,1011.250000,0.861324,0.017841,0.859112,1.0,0.454545,0.600000,0.461538
5869,2023-06-20,0.863368,0.859004,0.861073,1011.150024,0.861239,0.024845,0.860409,1.0,0.454545,0.633333,0.461538
5870,2023-06-21,0.860245,0.854473,0.860771,1008.900024,0.859314,0.020040,0.858143,1.0,0.454545,0.666667,0.461538
5871,2023-06-22,0.854171,0.849009,0.850287,998.299988,0.850249,0.050139,0.849819,1.0,0.454545,0.700000,0.461538
5872,2023-06-23,0.851476,0.843037,0.846447,989.400024,0.842637,0.031226,0.844004,1.0,0.454545,0.733333,0.461538

### Loss/Cost Function

We can compare our model's predictions with the actual targets using the following method:

* Calculate the difference between the targets and predictions (the differenced is called the "residual")
* Square all elements of the difference matrix to remove negative values.
* Calculate the average of the elements in the resulting matrix.
* Take the square root of the result

The result is a single number, known as the **root mean squared error** (RMSE). The above description can be stated mathematically as follows: 

<img src="https://i.imgur.com/WCanPkA.png" width="360">

Geometrically, the residuals can be visualized as follows:

<img src="https://i.imgur.com/ll3NL80.png" width="420">

Let's define a function to compute the RMSE.

In [26]:
def rmse(targets , predictions):
    return np.sqrt(np.mean(np.square(targets-predictions)))

def mse(targets , predictions):
    return np.mean(np.square(targets-predictions))

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
X_train

,Open,High,Low,Adj Close,Volume,VWAP,Year,Month,Day,WeekOfYear
0,0.092471,0.094763,0.091197,0.082274,0.004627,0.093905,0.000000,0.181818,0.000000,0.153846
1,0.101163,0.100161,0.094646,0.082739,0.006638,0.097041,0.000000,0.272727,0.000000,0.230769
2,0.096851,0.095892,0.090159,0.080961,0.007426,0.093433,0.000000,0.363636,0.000000,0.326923
3,0.094114,0.093249,0.089054,0.076298,0.007268,0.090373,0.000000,0.454545,0.000000,0.403846
4,0.089733,0.090192,0.082040,0.069922,0.014618,0.084558,0.000000,0.545455,0.000000,0.480769
...,...,...,...,...,...,...,...,...,...,...
5254,0.705048,0.703227,0.699452,0.701714,0.128211,0.703871,0.869565,1.000000,0.766667,0.980769
5255,0.712577,0.706700,0.707995,0.699133,0.084558,0.706992,0.869565,1.000000,0.900000,1.000000
5256,0.706203,0.703947,0.701350,0.697270,0.058200,0.703244,0.869565,1.000000,0.933333,1.000000
5257,0.706074,0.699077,0.700099,0.693758,0.047726,0.700009,0.869565,1.000000,0.966667,1.000000
5258,0.700941,0.701914,0.700401,0.690499,0.085119,0.699966,0.869565,1.000000,1.000000,1.000000

In [29]:
lr_model = LinearRegression().fit(X_train ,train_targets )
train_preds = lr_model.predict(X_train)
val_preds = lr_model.predict(X_val)
train_rmse = rmse(train_targets,train_preds)

In [30]:
train_rmse

7.193362047792161e-08

In [31]:
rmse(val_targets,val_preds)

6.064340899165851e-07

In [32]:
val_preds

array([ 930.49999989,  924.25000009,  928.54998799,  921.99999999,
        914.74999999,  916.20001189,  915.95001199,  906.20001199,
        924.04998789,  921.49999999,  910.20001189,  902.15002409,
        895.65002409,  882.34997589,  867.45001199,  892.099976  ,
        905.6500239 ,  927.5999761 ,  932.25000009,  944.99999989,
        946.4000241 ,  951.79998789,  952.74999989,  946.09997599,
        933.29998789,  948.04998789,  968.25000009,  975.04998799,
        958.50000009,  954.90002409,  921.84997609,  933.09997599,
        928.20001209,  909.09997599,  907.24999999,  913.4000239 ,
        914.90002389,  895.79998809,  923.6500241 ,  925.04998799,
        923.09997589,  934.90002399,  931.20001209,  941.15002389,
        969.54998799,  981.54998789,  987.04998789, 1043.949952  ,
       1048.65002399, 1068.05004799, 1055.80004999, 1048.49999999,
       1050.30004799, 1032.59997499, 1014.45001099, 1029.00000099,
       1013.49999899, 1017.099977  , 1038.84997599, 1028.94994999,
       1018.04998899, 1014.84997499, 1027.80004799, 1021.45001299,
       1029.00000099, 1036.69994999, 1011.59997699, 1025.49999899,
       1027.24999999, 1016.59997599, 1027.84997699, 1000.299989  ,
       1012.04998799,  998.54998699,  966.99999999,  953.15002399,
        978.40002409,  977.74999999,  981.20001199,  981.20001199,
        976.59997589,  957.54998789,  948.40002399,  934.74999999,
        938.29998799,  926.15002399,  937.59997599,  920.75000009,
        934.59997599,  933.40002409,  937.99999999,  957.09997609,
        938.00000009,  978.4000241 ,  970.04998789,  970.40002399,
        971.84997589,  964.54998789,  966.34997599,  986.79998809,
        992.95001189,  983.54998809,  987.09997589,  960.95001189,
        976.04998789,  972.75000009,  962.95001199,  971.95001189,
        966.79998789,  954.7499999 ,  964.70001199,  968.79998789,
        940.95001189,  914.75000009,  925.84997609,  938.20001189,
        916.900024  ,  933.34997599,  933.70001189,  932.34997589,
        945.09997599,  947.650024  ,  917.20001199,  949.299988  ,
        930.65002389,  937.40002399,  945.59997609,  935.24999989,
        935.45001189,  947.54998789,  935.74999989,  953.34997589,
        951.15002389,  966.04998799,  967.34997599,  960.65002399,
        981.49999989,  968.49999989,  972.09997589,  959.79998789,
        955.70001209,  974.04998809,  967.45001199,  977.40002399,
       1004.549988  , 1004.20001299, 1011.84997499, 1044.50000099,
       1034.19995199, 1029.55004799, 1038.34997699, 1038.40002399,
       1027.15002299, 1034.55004999, 1025.74999999, 1032.19994999,
       1030.09997499, 1022.54998699, 1040.65002299, 1037.34997699,
       1025.74999999, 1020.79998899, 1017.29998899, 1038.44994999,
       1022.99999899, 1015.59997499, 1025.65002499, 1040.84997699,
       1051.49999899, 1056.05004898, 1058.30004899, 1064.74999999,
       1058.90002299, 1059.94995099, 1033.30004799, 1043.49999899,
       1036.30004899, 1092.30005   , 1070.40002299, 1061.90002399,
       1068.09997499, 1065.65002499, 1098.69994999, 1097.15002399,
       1115.84997499, 1114.94995099, 1130.75000099, 1144.65002498,
       1134.44995098, 1130.49999899, 1118.84997699, 1110.09997699,
       1108.44994998, 1103.65002499, 1108.90002298, 1108.15002299,
       1125.84997699, 1121.99999999, 1136.80004999, 1134.75000099,
       1146.90002298, 1155.90002299, 1165.90002499, 1155.19994999,
       1167.40002299, 1173.40002299, 1159.24999898, 1163.09997599,
       1146.09997699, 1130.90002299, 1129.40002499, 1122.30004799,
       1121.40002399, 1129.50000098, 1118.74999899, 1121.19995099,
       1119.49999899, 1102.40002299, 1104.44995199, 1104.09997599,
       1107.99999899, 1095.34997599, 1105.34997599, 1101.74999999,
       1121.15002299, 1139.65002499, 1124.90002399, 1114.34997599,
       1115.34997498, 1109.59997598, 1105.30004799, 1107.49999898,
       1107.90002298, 1096.80004899, 1109.90002399, 1112.69994998,
       1101.80004899, 1089.40002399, 1096.65002299, 1091.15002399,
       1127.99999999, 1122.44995099, 1119.15002499, 1096.49999999,
       1095.84997599, 1085.80004899, 1087.55004999, 1075.94995099])

In [33]:
val_targets

5507     930.500000
5508     924.250000
5509     928.549988
5510     922.000000
5511     914.750000
           ...
5750    1096.500000
5751    1095.849976
5752    1085.800049
5753    1087.550049
5754    1075.949951
Name: Close, Length: 248, dtype: float64

In [34]:
train_preds

array([116.5879969 , 117.220001  , 114.8040009 , ..., 827.95001209,
       823.79998789, 819.9500119 ])